body {
	background-color: #FFD6C7;
}

h1 {
	text-align: center;
	color: #FF77A4;
	font-family: 'Alegreya', serif;
}

h2 {
	color: #5166AF;
	font-family: 'Alegreya', serif;
}

h3 {
	font-family: Georgia, Times, serif;
	color: #AF9CA9;
}

ul {
	font-family: Helvetica, sans-serif;
	color: #353A53;
}

p {
	font-family: Georgia, Times, serif;
	color: #9F5AAF;
}

.salmon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}