

/*For the sales.html*/

table {
	width: 45%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
}

/*th {
	padding-left: 5px;
	padding-right: 5px;
}*/

form {
	margin-right: auto;
	margin-left: auto;
}

th.one {
	text-align: left;
}

td.where {
	text-align: left;
}

/*For the index.html*/

body {
	background-color: #65767F;
}

div.one {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	text-align: center;
	color: #FFC9BD;
	font-family: 'Alegreya', serif;
	font-size: 200%;
}

h2 {
	text-align: center;
	color: #FFC9BD;
	font-family: 'Calibri', sans-serif;
	font-weight: normal;
	font-size: 100%;
}

h3 {
	font-family: Georgia, Times, serif;
	color: #AF9CA9;
}

ul {
	font-family: Helvetica, sans-serif;
	color: #353A53;
	text-align: center;
}

li {
	display: inline;
	margin-right: 10px;
	font-family: 'Alegreya', serif;
	color: #AF9C9E;
}

p.one {
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
}

p.two {
	text-align: left;
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
}

p.three {
	width: 250px;
	padding: 5px;
	border-width: 2px;
	font-family: Georgia, Times, serif;
	font-weight: bold;
	text-align: center;
	float: right;
	clear: bottom;
}

p.four {
	text-align: center;
	font-family: 'Alegreya', serif;
	color: #AF9C9E;
}

p.five {
	width: 270px;
	border: 5px;
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
	font-weight: bold;
	text-align: center;
	float: left;
}

section.one {
	background-color: #E9F0FF;
}

section.two {
	text-align: center
}

.salmon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
