body {
	background-color: #D6DCEA;
}

h1 {
	text-align: center;
	color: #8F7C7E;
	font-family: 'Alegreya', serif;
	font-size: 200%;
}

h2 {
	text-align: center;
	color: #D9A2A5;
	font-family: 'Calibri', sans-serif;
	font-weight: normal;
	font-size: 100%;
}

h3 {
	font-family: Georgia, Times, serif;
	color: #AF9CA9;
}

ul {
	font-family: Helvetica, sans-serif;
	color: #353A53;
	text-align: center;
}

li {
	display: inline;
	margin-right: 10px;
	font-family: 'Alegreya', serif;
	color: #AF9C9E;
}

p.one {
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
}

p.two {
	text-align: left;
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
}

p.three {
	width: 250px;
	border: 5px;
	font-family: Georgia, Times, serif;
	font-weight: bold;
	text-align: center;
	float: right;
	clear: bottom;
}

p.four {
	text-align: center;
	font-family: 'Alegreya', serif;
	color: #AF9C9E;
}

p.five {
	width: 270px;
	border: 5px;
	font-family: Georgia, Times, serif;
	color: #AF9C9E;
	font-weight: bold;
	text-align: center;
	float: left;
}

section.one {
	background-color: #E9F0FF;
}

section.two {
	text-align: center
}

.salmon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}